
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2E7D32;
    padding: 15px;
    color: white;
}


nav ul {
    list-style: none; /* Enlève les puces */
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}

.habitats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.habitat {
    background: white;
    padding: 15px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.habitat img {
    width: 100%;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    background: #2E7D32;
    color: white;
    padding: 10px;
}
